/*==============================
            CSS RESET
===============================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
img {
    display: none;
}
body {
    min-height: 100vh;
}
/*==============================
            HEADER
===============================*/
header {
    background-color: #7E30E1;
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    font-size: 5vmin;
    color: #F3F8FF;
    font-weight: bold;
    text-transform: uppercase;
}
header nav {
    flex: 1;
    text-align: right;
    margin-right: 5em;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
ul li a {
    padding: 5px 0;
    font-size: 2vmin;
    color: white;
    text-transform: capitalize;
    transition: all 0.5s ease;
}
li a:hover {
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
header .btn-donwload-cv {
    background-color: unset;
    padding: 15px;
    border: 3px solid #E26EE5;
    border-radius: 5px;
    font-size: 1.5vmin;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}
header .btn-donwload-cv:hover {
    background-color: #E26EE5;
}
/*==============================
            MAIN
===============================*/
main section {
    min-height: 100vh;
    padding: 10vmin;
}
/*==============================
        MAIN - SECTION HOME
===============================*/
main .col-content-home {
    background-color: #7E30E1;
    display: flex;
    align-items: center;
}
main .col-content-home .row-content-home {
    width: 50%;
}
.col-content-home .row-1 {
    display: flex;
    flex-flow: column;
    gap: 20px;
    color: white;
}
.col-content-home .row-1 p {
    font-size: 5vmin;
}
.col-content-home .row-1 h1 {
    font-size: 10vmin;
}
.col-content-home .row-1 span {
    color: #E26EE5;
    font-weight: bold;
}
.col-content-home .row-1 .btn-hire-me {
    position: relative;
    z-index: 10000;
    cursor: pointer;
    overflow: hidden;
    background-color: #E26EE5;
    width: 180px;
    padding: 13px 0;
    border: 3px solid transparent;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: #F3F8FF;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.btn-hire-me::before {
    content: '';
    display: none;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    width: 100%;
}
:has(.col-content-home .row-1 .btn-hire-me:hover) .btn-hire-me::before {
    display: block;
}
.col-content-home .row-1 .btn-hire-me:hover {
    border: 3px solid white;
}
.col-content-home .row-2 {
    display: flex;
    justify-content: space-between;
}
.col-content-home .row-2 .wrapper-image-home {
    position: relative;
    background: hsla(215, 100%, 98%, 1);
    background: linear-gradient(360deg, hsla(215, 100%, 98%, 1) 0%, hsla(263, 75%, 78%, 1) 0%, hsla(266, 75%, 54%, 1) 100%);
    width: 40vmin;
    min-height: 578px;
    box-shadow: 5px -3px 20px rgb(48, 47, 47);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.row-2 .wrapper-image-home img {
    display: block;
    position: absolute;
    right: -100px;
    bottom: 0;
    width: 56vmin;
}

.row-2 .wrapper-icon-medsos .box-icon-medsos {
    position: relative;
    overflow: hidden;
    z-index: 100000;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid #E26EE5;
    font-size: 2.5em;
    color: white;
}
.box-icon-medsos::before {
    content: '';
    display: none;
    z-index: -1;
    position: absolute;
    background-color: #E26EE5;
    height: 60px;
    width: 60px;
}
@keyframes animate1 {
    0%,
    50% {
        transform: scale(0);
        border-radius: 0;
    }
    100%,
    50% {
        transform: scale(2);
        border-radius: 100%;
        background-color: #E26EE5;
    }
}
:has(.box-icon-medsos-1:hover) .box-icon-medsos-1::before,
:has(.box-icon-medsos-2:hover) .box-icon-medsos-2::before,
:has(.box-icon-medsos-3:hover) .box-icon-medsos-3::before,
:has(.box-icon-medsos-4:hover) .box-icon-medsos-4::before {
    display: block;
    animation: animate1 1s ease-out forwards;
}
/*==============================
        MAIN - SECTION ABOUT
===============================*/
main .col-content-about {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}
main .col-content-about .row-content-about.row-1 {
    flex-basis: 30%;
}
.col-content-about .row-content-about.row-1 .wrapper-image-about {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    border: 3px solid #E26EE5;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
}
.col-content-about .row-content-about.row-1 .wrapper-image-about::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    background-color: #E26EE5;
    border-radius: 10px;
    width: 60px;
    height: 60px;
}
.col-content-about .row-content-about.row-1 .wrapper-image-about::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: -40px;
    background-color: #E26EE5;
    border-radius: 10px;
    width: 90px;
    height: 90px;
}
.row-content-about.row-1 .wrapper-image-about img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
main .col-content-about .row-content-about.row-2 {
    flex-basis: 70%;
}
main .col-content-about .row-content-about.row-2 h1 {
    font-size: 5vmin;
    font-weight: bold;
    color: #7E30E1;
    text-transform: uppercase;
}
main .col-content-about .row-content-about.row-2 hr {
    width: 18%;
    height: 5px;
    border: none;
    border-radius: 10px;
    background-color: #7E30E1;
    margin-bottom: 3vmin;
}
main .col-content-about .row-content-about.row-2 p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 3vmin;
}
main .col-content-about .row-content-about.row-2 .btn-donwload-cv {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #E26EE5;
    border-radius: 30px;
    padding: 20px 20px;
    float: right;
    font-size: 1em;
    text-transform: capitalize;
    color: #E26EE5;
    font-weight: bold;
}
main .col-content-about .row-content-about.row-2 .btn-donwload-cv:hover {
    background-color: #E26EE5;
    color: white;
}
/*==============================
        MAIN - SECTION WORKS
===============================*/
main .col-content-works{
    padding: 2vmin;
}
.col-content-works .sub-col-content{
    margin: 50px 0px 0px;
}
.col-content-works .col-works-1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.col-content-works .col-works-1 h1{
    font-size: 5vmin;
    color: #7E30E1;
    text-transform: uppercase;
    text-align: center;
}
.col-content-works .col-works-1 p{
    width: 250px;
    margin: 10px auto 30px;
    font-size: 1.5em;
    color: #7E30E1;
    text-align: center;
}
.col-content-works .col-works-1 hr{
    width: 50%;
    height: 5px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: #7E30E1;
    margin-bottom: 7vmin;
}
.col-content-works .col-works-1 .wrapper-box-certificate{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.col-works-1 .wrapper-box-certificate .box-certificate{
    position: relative;
    z-index: 1000;
    overflow: hidden;
    background-color: transparent;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(150, 150, 150);
}
.col-works-1 .wrapper-box-certificate .box-certificate::before{
    content: '';
    position: absolute;
    display: none;
    z-index: -1;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(150, 150, 150);
}
:has(.box-certificate:nth-of-type(1):hover) .box-certificate:nth-of-type(1)::before,
:has(.box-certificate:nth-of-type(2):hover) .box-certificate:nth-of-type(2)::before,
:has(.box-certificate:nth-of-type(3):hover) .box-certificate:nth-of-type(3)::before,
:has(.box-certificate:nth-of-type(4):hover) .box-certificate:nth-of-type(4)::before,
:has(.box-certificate:nth-of-type(5):hover) .box-certificate:nth-of-type(5)::before,
:has(.box-certificate:nth-of-type(6):hover) .box-certificate:nth-of-type(6)::before{
    display: block;
}
.wrapper-box-certificate .box-certificate:nth-of-type(1){
    background: url('/assets/image/project-1.webp') no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-box-certificate .box-certificate:nth-of-type(2){
    background: url('/assets/image/project-2.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-box-certificate .box-certificate:nth-of-type(3){
    background: url('/assets/image/project-3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-box-certificate .box-certificate:nth-of-type(4){
    background: url('/assets/image/project-4.webp') no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-box-certificate .box-certificate:nth-of-type(5){
    background: url('/assets/image/project-5.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-box-certificate .box-certificate:nth-of-type(6){
    background: url('/assets/image/project-6.png') no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.wrapper-box-certificate .box-certificate .box-swape-certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #7E30E1;
    height: 70px;
}
.box-certificate .box-swape-certificate a{
    color: white;
    font-weight: bold;
}